@import "./commons/resets";
@import "./components/navbar";
@import "./components/footer";
@import "./screens/screens";

.animado {
    opacity: 0;
    transition: all 0.5s;
}

.mostrarArriba {
    animation: mostrarArriba 1s;    
}

@keyframes mostrarArriba {
    0% {
        transform: translateY(60px);
    }

    100% {
        transform: translateY(0);
    }
}

.carousel-item{
    position: relative;

    .carrusel-img{
        position: absolute;
        left: 0;
        right: 0;
        margin: 9vh auto auto auto;
        text-align: center;
        width: 280px;
        font-size: 3rem;
        color: white;
        font-weight: bolder;
        -webkit-text-stroke: 2px black;
    }
    .height {
        height: 30vh;       
    }
}

#main-container{
    text-align: center;
    margin: 30px auto;
    padding: 0 10px;

    h2{
        @include text(3rem, 500);
        margin: 30px auto;
    }

    p{
        @include text(1.7rem, 400);
        margin-bottom: 20px;
        padding: 10px;
        width: 300px;
        margin: auto;
        }

    iframe{
        margin-bottom: 30px;
    }

    img{
        height: 200px;
        width: 220px;
    }
}

  