html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2000;
}

header nav {
  -webkit-box-shadow: 0 5px 25px #020000, 0 5px 50px #1b0a0a;
          box-shadow: 0 5px 25px #020000, 0 5px 50px #1b0a0a;
}

header nav .navbar__menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 5s ease-out;
  transition: opacity 5s ease-out;
}

header nav .navbar__menu .navbar__list {
  text-align: center;
  list-style-type: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header nav .navbar__menu .navbar__list .navbar__link {
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

header nav .navbar__btn {
  background-color: transparent;
  border: none;
  display: block;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 25px;
  -webkit-transition: 0.2s  0.1s;
  transition: 0.2s  0.1s;
}

header nav .navbar__btn span {
  background-color: black;
  display: block;
  height: 3px;
  width: 28px;
  margin: 10px auto;
  border-radius: 2px;
}

@-webkit-keyframes muestraMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes muestraMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.navbar__menu.activado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: muestraMenu 350ms ease-in-out both;
          animation: muestraMenu 350ms ease-in-out both;
}

.br-1.animado {
  -webkit-transform: rotate(-45deg) translate(-10px, 8px);
          transform: rotate(-45deg) translate(-10px, 8px);
}

.br-2.animado {
  opacity: 0;
}

.br-3.animado {
  -webkit-transform: rotate(45deg) translate(-10px, -8px);
          transform: rotate(45deg) translate(-10px, -8px);
}

.navbar__btn:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  background-color: #885e5e;
  border-top: 2px solid black;
}

footer p {
  font-size: 2rem;
  font-weight: 500;
  color: black;
  margin: 0;
}

footer .contacto__link {
  margin-left: 20px;
  margin-top: 3px;
  color: black;
  font-size: 2rem;
}

footer .contacto__link:hover {
  color: black;
}

@media (min-width: 600px) {
  #main-container .about {
    margin: 30px auto;
  }
  #main-container .about h2 {
    font-size: 4rem;
    font-weight: 500;
  }
  #main-container .about p {
    font-size: 2rem;
    font-weight: 400;
    width: 500px;
    margin: auto;
  }
  #main-container .about-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #main-container .about-card img {
    height: 220px;
    width: 240px;
  }
  #main-container .about-card p {
    font-size: 2rem;
    font-weight: 400;
  }
  #main-container .container-location {
    margin: 30px 0;
  }
  #main-container .container-location h2 {
    font-size: 4rem;
    font-weight: 500;
  }
  #main-container .container-location .location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 30px auto;
  }
  #main-container .container-location .location p {
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  header nav {
    text-align: center;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "navbar" "logo";
  }
  header nav .navbar__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 4vh;
    opacity: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: navbar;
    background-color: black;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header nav .navbar__menu .navbar__list:first-child {
    margin-left: 15px;
  }
  header nav .navbar__menu .navbar__list .navbar__link {
    color: white;
    margin: 0 40px;
  }
  header nav .navbar__menu .navbar__logo {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: logo;
  }
  header nav .navbar__btn {
    display: none;
  }
  footer p {
    font-size: 3rem;
    font-weight: 500;
  }
  footer .contacto__link {
    font-size: 3rem;
    font-weight: 500;
  }
  #carouselExampleIndicators .carousel-item .carrusel-img {
    font-size: 5rem;
    font-weight: 500;
    margin: 24vh auto auto auto;
    width: 600px;
    -webkit-text-stroke: 3px black;
  }
  #carouselExampleIndicators .carousel-item .height {
    height: 70vh;
  }
  #main-container .about h2 {
    font-size: 5rem;
    font-weight: 500;
  }
  #main-container .about p {
    font-size: 2.2rem;
    font-weight: 400;
    width: 800px;
  }
  #main-container .about-card img {
    height: 270px;
    width: 290px;
  }
  #main-container .about-card p {
    font-size: 2.2rem;
    font-weight: 400;
    width: 500px;
  }
  #main-container .container-location h2 {
    font-size: 5rem;
    font-weight: 500;
  }
  #main-container .container-location .location p {
    font-size: 2.2rem;
    font-weight: 400;
  }
}

.animado {
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.mostrarArriba {
  -webkit-animation: mostrarArriba 1s;
          animation: mostrarArriba 1s;
}

@-webkit-keyframes mostrarArriba {
  0% {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes mostrarArriba {
  0% {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.carousel-item {
  position: relative;
}

.carousel-item .carrusel-img {
  position: absolute;
  left: 0;
  right: 0;
  margin: 9vh auto auto auto;
  text-align: center;
  width: 280px;
  font-size: 3rem;
  color: white;
  font-weight: bolder;
  -webkit-text-stroke: 2px black;
}

.carousel-item .height {
  height: 30vh;
}

#main-container {
  text-align: center;
  margin: 30px auto;
  padding: 0 10px;
}

#main-container h2 {
  font-size: 3rem;
  font-weight: 500;
  margin: 30px auto;
}

#main-container p {
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: 20px;
  padding: 10px;
  width: 300px;
  margin: auto;
}

#main-container iframe {
  margin-bottom: 30px;
}

#main-container img {
  height: 200px;
  width: 220px;
}
/*# sourceMappingURL=main.css.map */