footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: rgb(136, 94, 94);
    border-top: 2px solid black;

    p{
        @include text(2rem, 500);
        color: black;
        margin: 0;
    }

    .contacto__link{
        margin-left: 20px;
        margin-top: 3px;
        color: black;
        font-size: 2rem;

        &:hover{
            color: black;
        }
    }
}